export(aligned_pangenome_tree)
export(annotated_expression_heatmap)
export(circular_phylogeny)
export(clade_support_tree)
export(correlation_heatmap)
export(microbiome_heatmap)
export(multiomics_heatmap)
export(mutation_oncoprint)
export(rectangular_phylogeny)
export(validate_tip_alignment)
